
<%- include("partials/header"); -%>

    <h1 style= "font-size: 44px; font-family:Monotype Corsiva;
    line-height: inherit; font-family: ui-sans-serif;">Welcome to my Diary ! </h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>




     </p>
   <% }) %>

<%- include("partials/footer"); -%>
